.hero-top{
    margin-top:8.5%;
}
.text-container{
    width:50%;
    margin-left:10% ;
    margin-right:10% ;
}
.down{
    padding-bottom: 44px;
    border-bottom:1px solid black ;
}

.down-btn{
    margin-top:18px;
}